.glyphicon {
  margin-right: 4px;
}

a.glyphicon {
  text-decoration: none;
}

a.glyphicon,
button.glyphicon {
  font-family: Verdana,"メイリオ", Meiryo, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  top: 0;
  margin-right:0;
}

a.btn.glyphicon,
button.glyphicon {
  margin: 2px;
}

a.glyphicon:before,
button.glyphicon:before {
  font-family: "Glyphicons Halflings";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:94%;
  margin-top: 1px;
  margin-right: 2px;
  display: inline-block;

}
