html,body {
  min-width: 1000px;
  background-color: #ececea;
}

body {
  padding-top: 70px;
  overflow-y: scroll;
}

.container-fluid {
  position: relative;
}

.container {
  min-width: 1000px;
  max-width: none !important;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container-fluid .container {
  min-width: 0;
}

.main > .container {
  padding-left: 15px;
  padding-right: 15px;
}
