.c-sort {
  cursor: pointer;

  &:hover {
    color: #337ab7;
  }

  .active {
    color: #337ab7;
  }
  .fa {
    margin-left: 1px;
  }
  .fa-sort-asc {
    vertical-align: bottom;
    font-size: 110%;
  }
  .fa-sort-desc {
    vertical-align: top;
    font-size: 110%;
  }
}
