$c-invalid-bgcolor: #fdd !default;
$c-invalid-border: solid 1px red !default;

$c-readonly-bgcolor: #eee !default;
$c-readonly-cursor: not-allowed !default;

$c-invalid-text-format-color: #FD8306 !default;

$c-datepicker-saturday-color: #2b96ca !default;
$c-datepicker-sunday-color: #e04a47 !default;

$c-textfield-width: 150px !default;
$c-password-width: 150px !default;
$c-textarea-width: 200px !default;
$c-textarea-height: 80px !default;
$c-integer-width: 130px !default;
$c-currency-width: 130px !default;
$c-float-width: 130px !default;
