@import './variables';

.c-checkbox {
  border: 0;
  display: inline-block;
  padding: 2px 2px 2px 2px;
  margin: 2px 2px 2px 2px !important;
  min-height: 14px;
  box-sizing: border-box;
  font-size: 12px;
  outline: 0 none;
  box-shadow: none;
  boder: none;
  border-radius: 0;

  &:hover {
    background-color: transparent;
  }

  .fa {
    font-size: 140%;
    vertical-align: bottom;
  }

  .fa-square-o {
    color: #999;
  }

  .fa-check-square {
    color: #337ab7;
  }

  &.invalid {
    background-color: $c-invalid-bgcolor;
    border: $c-invalid-border;
  }
}

.btn-group.c-checkboxes {
  .c-checkbox {
    margin-right: 5px !important;
    &:last-child {
      margin-right: 2px !important;
    }
  }

  &.invalid {
    background-color: $c-invalid-bgcolor;
    border: $c-invalid-border;
    .btn {
      background-color: $c-invalid-bgcolor;
    }
  }
}
