@import './variables';

c-datepicker {
  .text-container {
    position: relative;

    input[type="text"] {
      padding-left: 28px;
      width: 130px;

      &[disabled] {
        background-color: $c-readonly-bgcolor;
        cursor: $c-readonly-cursor;
      }
      &.invalid {
        background-color: $c-invalid-bgcolor;
        border: $c-invalid-border;
      }
    }
  }
}

.c-datepicker-popover {
  .btn {
    margin: 0;
    padding: 2px 7px;
    font-size: 13px;
  }
  .well {
    margin-bottom: 0;
  }
  tbody tr td:nth-child(6) button {
    color: $c-datepicker-saturday-color;
    &.active {
      color: white;
    }
    span.text-muted {
      color: lighten($c-datepicker-saturday-color, 20%);
    }
  }
  tbody tr td:nth-child(7) button {
    color: $c-datepicker-sunday-color;
    &.active {
      color: white;
    }
    span.text-muted {
      color: lighten($c-datepicker-sunday-color, 20%);
    }
  }
}
