@import './variables';

c-textarea {
  width: $c-textarea-width;
  height: $c-textarea-height;

  textarea.c-textarea {
    width: 100%;
    height: 100%;

    &[disabled] {
      background-color: $c-readonly-bgcolor;
      cursor: $c-readonly-cursor;
    }
    &.invalid {
      background-color: $c-invalid-bgcolor;
      border: $c-invalid-border;
    }
  }
}
