@import './variables';

c-timepicker, c-timepointpicker {
  .text-input-container {
    position: relative;

    input[type="text"] {
      padding-left: 28px;
      width: 100px;

      &[disabled] {
        background-color: $c-readonly-bgcolor;
        cursor: $c-readonly-cursor;
      }
      &.invalid {
        background-color: $c-invalid-bgcolor;
        border: $c-invalid-border;
      }
    }
  }
}

.c-timepicker-popover, .c-timepointpicker-popover {
  .btn {
    margin: 0;
    padding: 3px 12px;

  }
  input[type="text"] {
    padding: 3px 12px;
    height: 28px;
  }
}


.c-timepointpicker-popover {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 55px;
  min-width: 60px;

  & > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
  }

  .hours, .minutes {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;

    .value {
      display: inline-block;
      height: 20px;
    }
  }
}
