c-timepicker {
  .text-container {
    position: relative;

    input[type="text"] {
      padding-left: 28px;
      width: 100px;

      &[disabled] {
        background-color: #eee;
        cursor: not-allowed;
      }
      &.invalid {
        background-color: #fdd;
        border: solid 1px red;
      }
    }
    .text-icon {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      padding: 2px 6px;
      font-size: 110%;
      color: #666;
      border-right: solid 1px #999;
    }
    .invalid-text {
      display: none !important;
      position: absolute !important;
      right: 1px !important;
      font-size: 12px !important;
      color: #FD8306;

      &.active {
        display: inline-block !important;
      }
    }
  }
}

.c-timepicker-popover {
  .btn {
    margin: 0;
    padding: 3px 12px;

  }
  input[type="text"] {
    padding: 3px 12px;
    height: 28px;
  }
}
