.c-checkbox {
  border: 0;
  display: inline-block;
  background-color: transparent;
  background-image: url('#{$calico-images-path}/checkbox.png');
  background-repeat: no-repeat;
  background-position: 0 center;
  padding: 2px 2px 2px 12px;
  margin: 2px 2px 2px 2px !important;
  text-indent: 4px;
  min-height: 14px;
  box-sizing: border-box;
  font-size: 12px;
  outline: 0 none;
  box-shadow: none;
  boder: none;
  border-radius: 0;

  &.active {
    background-image: url('#{$calico-images-path}/checkbox_checked.png');
    background-color: transparent;
    box-shadow: none;
    outline: none;
  }

  &:hover {
    background-color: transparent;
  }

  &:focus {
    background-color: transparent;
    outline: 0 none;
    box-shadow: none;
    boder: none;
  }

  &.invalid {
    background-color: #fdd;
    border: solid 1px red;
  }
}

.btn-group.c-checkboxes {
  .c-checkbox {
    margin-right: 5px !important;
    &:last-child {
      margin-right: 2px !important;
    }
  }

  &.invalid {
    background-color: #fdd;
    border: solid 1px red;
  }
}
